<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container"> <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" data-bg-class="bg-menu-theme">
      <app-side-bar></app-side-bar>
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <app-header></app-header>
      <!-- / Navbar -->
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y" style="min-height: 90vh;">
          <router-outlet></router-outlet>
        </div>



        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
          <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
              ©
              <script>
                document.write(new Date().getFullYear())

              </script>2024, made with ❤️ by <a href="https://themeselection.com" target="_blank"
                class="footer-link fw-medium">Labcorp</a>
            </div>
            <div class="d-none d-lg-inline-block">



            </div>
          </div>
        </footer>
        <!-- / Footer -->


        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>



  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>


</div>
<!-- <div class="layout-wrapper layout-content-navbar">

  <div class="layout-container">
    <app-side-bar></app-side-bar>
    <div class="layout-page">
    <app-header></app-header>
    <div class="content-wrapper">
      <div class="container-xxl flex-grow-1 container-p-y">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  </div>
</div> -->