<div class="card">
  <div class="card-body">
    <h4>Patient Details:</h4>
    <div class="row">
      <div class="col-md-3 mb-2 mb-2">
        <span style="color: rgb(66, 65, 65)">Patient Name : &nbsp;</span>
        <span style="font-weight: bold; color: #272626">{{
          patient_data?.username
        }}</span>
      </div>
      <div class="col-md-3 mb-2 mb-2">
        <span style="color: rgb(66, 65, 65)">Age : &nbsp;</span>
        <span style="font-weight: bold; color: #272626">{{
          patient_data?.age
        }}</span>
      </div>
      <div class="col-md-3 mb-2 mb-2">
        <span style="color: rgb(66, 65, 65)">Gender : &nbsp;</span>
        <span style="font-weight: bold; color: #272626">{{
          patient_data?.gender
        }}</span>
      </div>
      <div class="col-md-3 mb-2 mb-2">
        <span style="color: rgb(66, 65, 65)">Mobile No: &nbsp;</span>
        <span style="font-weight: bold; color: #272626">{{
          patient_data?.mobile_no
        }}</span>
      </div>
      <div class="col-md-3 mb-2 mb-2">
        <span style="color: rgb(66, 65, 65)">Address : &nbsp;</span>
        <span style="font-weight: bold; color: #272626">{{
          patient_data?.address
        }}</span>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="row">
    <div class="col-md-6">
      <h5 class="card-header">Yearly Screen List</h5>
    </div>

    <div class="col-md-6 right-align">
      <button
        style="float: right"
        class="btn add-new btn-primary mb-3 mb-md-0"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        type="button"
        (click)="addYearlyscreenTest()"
      >
        <span>Add Test</span>
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <div *ngIf="!items?.length" class="col-12 text-center">
      <h4 style="color: red;">There Is No Tests Available! Please Add Tests</h4>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>#</th>
          <th>S.No</th>
          <th scope="col">Test Name</th>
          <th scope="col">Due Date</th>
         
          <th scope="col">Lab Name</th>
          <th scope="col">Contact Person</th>
          <th scope="col">Mobile No</th>
          <th scope="col">Time Slot</th>
          <th scope="col">Sample Collection Date</th>
          <th scope="col">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let item of items">
          <td >
             <input class="form-checked-input" style="margin-left: 10px;"
             type="checkbox"  
           
             [value]="item.id" 
             name="{{item.id}}"  
             (change)="onTestChecked($event,item.id)"
             
             />
            </td>
          <td>{{ item.id }}</td>
          <td>{{ item.test_name }}</td>
          <td>{{ item.due_date | date : "dd-MM-yyyy hh:mm:ss" }}</td>
          
          <td>{{ item.diagnostic_lab_name }}</td>
          <td>{{ item.technician_name }}</td>
          <td>{{ item.technician_contact_no }}</td>
          <td>{{item.booking_time_slot_name}}</td>
          <td>{{item.booking_date|date:'dd-MM-yyyy hh:mm:ss'}}</td>
          <td>{{ item.status_name }}</td>
          <td>
           
            <div style="display: flex;">
              <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1">
                <button class="btn add-new btn-primary mb-3 mb-md-0" [style.backgroundColor]="item.status === 4 ? '#3c8e7f' : '#3d8888'" [style.borderColor]="item.status === 4 ? '#2e6d6d' : '#3c8e7f'"
                  [disabled]="item.status !== 3 && item.status !== 4" (click)="
                    item.status === 4
                     ? viewReport(item.id)
                     : uploadPdf(item.id)
                      ">
                  <span>
                    {{ item.status === 4 ? 'View Report' : 'Upload Report' }}
                  </span>
                </button> &nbsp;  
                <button class="btn add-new btn-primary mb-3 mb-md-0 mr-3" tabindex="0" style="    
               background-color: #e60a0ad3;
               border-color: #e05159ce" aria-controls="DataTables_Table_0" type="button" [disabled]="item.status !==1" (click)="removeData(item.id)"><span>Delete
          </span></button>
              </div>
  
            </div> 
       
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="card-body">
  
  
  
    <div class="col-sm-12 col-md-12">
  
  
      <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1">
        <div class="dt-buttons btn-group flex-wrap">
          <button class="btn add-new btn-primary mb-3 mb-md-0 mr-3" tabindex="0" style="    
                  background-color: #0da60da8;
                  border-color: #51c81aa3" aria-controls="DataTables_Table_0" type="button" [disabled]="isButtonsDisabled" [disabled]="checkBookingTimeSlots" (click)="assignLab()"><span>Assign Lab
            </span></button>
          <button class="btn add-new btn-primary mb-3 mb-md-0 mr-3" tabindex="0" aria-controls="DataTables_Table_0" type="button" [disabled]="isButtonsDisabled"   (click)="rescheduleLab()"><span>Rescedule Lab
            </span></button>
          <button class="btn add-new btn-primary mb-3 mb-md-0 mr-3" tabindex="0" style="   
                   background-color: #efa85b;
                   border-color: #f5bf79;" aria-controls="DataTables_Table_0" type="button" [disabled]="isButtonsDisabled"  (click)="sampleCollection()"><span>Sample Collection Update
            </span></button>
        </div>
      </div>
    </div>
</div>
