<div class="card">
  <div class="row">
    <div class="col-md-6">
      <h5 class="card-header">Ecg List</h5>
    </div>
    
    <div class="col-md-6 right-align">
      
      <button style="float: right;" class="btn add-new btn-primary mb-3 mb-md-0" tabindex="0" aria-controls="DataTables_Table_0" type="button" (click)="addUser()"><span>Add
          Add Ecg</span></button>
    </div>
  </div>
<!-- <div class="card">
    <h5 class="card-header">Ecg's List</h5>
    <div class="card-body">
  
      
       
        <div class="col-sm-12 col-md-12">
          <div
            class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap me-1">
  
            <div class="dt-buttons btn-group flex-wrap"><button class="btn add-new btn-primary mb-3 mb-md-0" tabindex="0"
                aria-controls="DataTables_Table_0" type="button" (click)="addUser()"><span>Add
                  Ecg</span></button> </div>
          </div>
        </div>
      </div> -->
      <div class="table-responsive text-nowrap">
        <p-table class="table table-bordered" #dt1 [value]="items" dataKey="id" [rowHover]="true" [showCurrentPageReport]="true" [loading]="loading" 
        [paginator]="true" [rows]="limit" 
        [totalRecords]="totalPages" [lazy]="true" (onLazyLoad)="onPageChange($event)"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      [globalFilterFields]="['device_id', 'device_model_by', 'manufacturer_by']">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between">
          <div class="container">
            <button type="button"  class="btn btn-primary mb-3"  (click)="toggleFilter()">Advanced Search</button>
          
            <div *ngIf="showFilters" class="row">
              <div class="col-md-2">
                <label for="username">Manufacturer Name</label>
                <select [(ngModel)]="searchManufacturername" class="form-control" id="status">
                  <option *ngFor="let item of manufacturer_list;" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="username">Branch Name</label>
                <select [(ngModel)]="searchBranchname" class="form-control" id="status">
                  <option *ngFor="let item of models_list;" [value]="item.id">{{ item.name }}</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="mobile_no"> Device Id</label>
                <input type="text" [(ngModel)]="searchDeviceid" class="form-control" />
              </div>
             
             
              <!-- <div class="col-md-2">
                <label for="status">Status</label>
                <select [(ngModel)]="searchStatus" class="form-control" id="status">
                  <option *ngFor="let item of statuses;" [value]="item.id">{{ item.label }}</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="user_type">User Type</label>
                <select [(ngModel)]="searchUsertype" class="form-control" id="user_type">
                  <option *ngFor="let item of user_types;" [value]="item.id">{{ item.name }}</option>
                </select>
              </div> -->
              <div class="col-md-2 align-self-end">
                <button type="button" (click)="onSearch()" class="btn btn-primary">Search</button> &nbsp;
                <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
              </div>
            </div>
          </div> 
          <!-- <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear()" />
          <p-iconField iconPosition="left" style="float: right;">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" [(ngModel)]="searchValue" (input)="filterGlobal($event)"
              placeholder="Keyboard Search" />
          </p-iconField> -->
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="manufacturer_by">
            Manufacturer Name<p-sortIcon field="manufacturer_by" />
          </th>
          
          <th pSortableColumn="device_model_by">
            Model Name <p-sortIcon field="device_model_by" />
          </th>
          
          <th pSortableColumn="device_id">
            Device Id<p-sortIcon field="device_id" />
           </th>
        
          <th>
            Action
          </th>
        </tr>
        <!-- <tr>
          
          
          <th>
            <p-columnFilter
              type="text"
              field="device_id"
              placeholder="Search by Id"
              ariaLabel="Filter Country"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="device_model_by"
              placeholder="Search by Model"
              ariaLabel="Filter Country"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="manufacturer_by"
              placeholder="Search by Name"
              ariaLabel="Filter Country"
            />
          </th>
          
          
         </tr> -->
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td>
            <span class="p-column-title">Manufacturere Name</span>
            <span class="ml-1 vertical-align-middle">{{ row.manufacturer_by}}</span>
          </td>
        
          <td>
            <span class="p-column-title">Model Name</span>
            <span class="ml-1 vertical-align-middle">{{ row.device_model_by}}</span>
          </td>
          <td>
            <span class="p-column-title">Device Id</span>
            {{ row.device_id }}
          </td>
         <td>
            <div style="display: flex;">
              <a href="javascript:void(0);" (click)="onEditClick(row)" class="dropdown-item-no-text"><i class="fa fa-edit"></i></a>&nbsp;
              <!-- <a href="javascript:void(0);"  (click)="removeData(row)"class="dropdown-item-no-text"><i class="fa fa-trash"></i></a> -->
            </div>
          </td>
         
        </tr>
          <!-- <tr *ngIf="loading">
            <td colspan="5" class="text-center py-5">
              <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
          </tr> -->
       
      </ng-template>
   
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
     
           
      </div>
    </div>
